nav {
	margin-bottom:3%;
}

#tabs {
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 2%;
}

#add-notice {
	text-align: center;
	margin-left: 3%;
	margin-right: 3%;
}

#register{
	text-align: center;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

body {
	color: #f8f8f8;
    background: url(img/banner-bg.jpg);
}

p,label{
	color: #f8f8f8;
	font-weight: bold;
}

#register h1,#register h3{
	color: #f8f8f8;
}

h2 {
	text-align: center;
	margin: 0 0 5% -2%;
}

img {
	margin: 2% 5% 0 5%;
	height:100;
	width:100;
}

#map{
	margin-left: 32%;
	height:300px;
	width: 500px;
}

#site{
	text-align: center;
	color: #f8f8f8;
}